@font-face 
{
    font-family:"Poppins";
    font-style:normal; font-weight:normal;
    
    src: url(/assets/fonts/Poppins-Regular.ttf)
}
@font-face 
{
    font-family:"Poppins";
    font-weight: bold; font-style: oblique;
    src: url(../age-calculator-app-main/assets/fonts/Poppins-Bold.ttf);
}

@font-face 
{
    font-family:"Poppins";
    font-weight:normal; font-style: oblique;
    src: url(../age-calculator-app-main/assets/fonts/Poppins-Italic.ttf);
}

@font-face 
{
    font-family:"Poppins";
    font-weight:bold;  font-style: italic;
    src: url(../age-calculator-app-main/assets/fonts/Poppins-BoldItalic.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(/assets/fonts/Poppins-ExtraBold.ttf);
    font-weight: bolder; font-style: normal;
}
/*_______________________________________________________________________________________________________________________________________________*/
/*___________________________________________________Screen Sizes [ranges go from (FULL -> small)]____________________________________________________
    Chromebook screen: width = [1495px - 400px] ; height = 825px
    Desktop Screen: width = [3200px - 500px] ; height = 1265px
    Mobile: width = 320px ; height = 1 in   (both sizes can be flipped)
    WYSIWYG: width = [3000px - 1673px - 500px] ; height = 1265px
__________________________________________________________________________________________________________________________________________________*/
/**

.ruler-x{border: red solid;width: 1673px; height:0;    position: absolute; top: 0;left: 0;}
.ruler-y{border: blue solid; width:0; height: 1265px;   position: absolute; top:0;left: 0;}
*/
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%);  }

body{background: hsl(0, 0%, 94%);margin-top: 100px;}
/*_______________________________________________________________________________________________________________________*/
.content{align-content: center;height:90vh;}

.mainwrapper
{
    display: grid; 
    grid-template-columns: 3fr 1fr 1fr; grid-template-rows: 1fr 3fr 1fr;
    border: thin; border-radius: 10px; border-bottom-right-radius:35% ;
    max-width: 1000px; max-height:640px;  
    justify-self: center;
    background: white; font-family: Poppins;
}
/*_______________________________________________________________________________________________________________________________
_______________________________________________________________________________________________________________________*/

form{
    display: flex; height: 10rem; width:150% ;
    justify-content: space-around; align-items: center; outline: dotted blue;
    text-transform: uppercase; text-indent:15px; letter-spacing: 2px; 
    /*                                                              */
    grid-row: 1; grid-column: 1;
}
input
{
    width: 135px; height: 65px;
    border-radius: 5%;
    font-size: xx-large;}

.outcontainer
{
    /*                         */
    grid-row: 2; grid-column: 1;
}
.agedisplay
{   
    margin:0 9rem;
    font-size: 180%;
    span
    {
        color: blueviolet;
    }
}

.butt-wrapper{
    display: flex;
    justify-self:right;justify-content: left; 
    width:fit-content; height: fit-content; 
    grid-row: 2; grid-column: 3;
}
button
{
    background-image: url("../age-calculator-app-main/assets/images/icon-arrow.svg");
    background-color: blueviolet; background-clip: border-box; background-size:50%; background-repeat: no-repeat;
    background-position: center;transition: 0.15s ease-in-out; 
    width: 6rem; height: 6rem; border-radius: 50%; border: thin; margin-inline-end: 65px;}
button:active{transform: scale(1.25);}