@font-face 
{
    font-family:'Poppins';
    font-weight:400 500;
    font-style: normal;
    src: url(../age-calculator-app-main/assets/fonts/Poppins-Regular.ttf)

}
@font-face 
{
    font-family:'Poppins';
    font-weight:600 900;
    font-style: bold;
    src: url(../age-calculator-app-main/assets/fonts/Poppins-Bold.ttf);
}

@font-face 
{
    font-family:'Poppins';
    font-weight:400 900;
    font-style: italic;
    src: url(../age-calculator-app-main/assets/fonts/Poppins-Italic.ttf);
}

@font-face 
{
    font-family:'Poppins';
    font-weight:700 900;
    font-style:oblique;
    src: url(../age-calculator-app-main/assets/fonts/Poppins-BoldItalic.ttf);
}
*{font-family: 'Poppins';}
/*_______________________________________________________________________________________________________________________________________________*/
/*___________________________________________________Screen Sizes [ranges go from (FULL -> small)]____________________________________________________
    Chromebook screen: width = [1495px - 400px] ; height = 825px
    Desktop Screen: width = [3200px - 500px] ; height = 1265px
    Mobile: width = 320px ; height = 1 in   (both sizes can be flipped)
__________________________________________________________________________________________________________________________________________________*/
/*
.ruler-x{border: red solid;width: 1495px; height:0; position: absolute;}
.ruler-y{border: blue solid; width:0; height: 825px;position: absolute;}
*/
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%);  }

body{background: hsl(0, 0%, 94%);margin-top: 100px;}
/*_______________________________________________________________________________________________________________________*/
.content{align-content: center; height:95vh;}

.mainwrapper
{
    display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 1fr 1fr 1fr;
    border: thin; border-radius: 10px; border-bottom-right-radius:35% ;
    max-width: 850px; max-height:640px;  
    justify-self: center;
    background: white;
}
/*_______________________________________________________________________________________________________________________________
_______________________________________________________________________________________________________________________*/

form{
    display:flex; flex-wrap:wrap; 
    justify-content: space-around; align-content: center;
    text-transform: uppercase; text-indent:15px; letter-spacing: 2px; 
    
}
input
{
    width: 135px; height: 65px;
    border-radius: 5%;
    font-size: xx-large;}


.agedisplay
{   
    margin:0 1rem;
    font-size: 100%;
    
    span
    {
        color: blueviolet;
    }
}

.butt-wrapper{
    display: flex;outline: dotted;
    justify-self:right;justify-content: left; 
    width:fit-content; height: fit-content;}
button
{
    background-image: url("../age-calculator-app-main/assets/images/icon-arrow.svg");
    background-color: blueviolet; background-clip: border-box; background-size:50%; background-repeat: no-repeat;
    background-position: center;transition: 0.15s ease-in-out; 
    width: 6rem; height: 6rem; border-radius: 50%; border: thin; margin-inline-end: 65px;}
button:active{transform: scale(1.25);}